# Node modules
node_modules/
frontend/node_modules/
server/node_modules/
jspm_packages/
web_modules/

# Environment files
*.env
frontend/.env
server/.env
.env.*
!.env.example

# Logs
*.log
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Diagnostic reports
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Build outputs
frontend/build/
frontend/dist/
build/Release
.next
out
.nuxt
.cache/
.dist
.svelte-kit/
.vitepress/dist
.vitepress/cache
.parcel-cache
.cache
.parcel-cache

# Uploads
server/uploads/

# OS files
.DS_Store
Thumbs.db

# Other caches and optional files
.lib-cov
.nyc_output
.grunt
.bower_components
.lock-wscript
*.tsbuildinfo
.npm
.eslintcache
.stylelintcache
.node_repl_history
*.tgz
.yarn-integrity
.cache
.parcel-cache
.vuepress/dist
.temp
.docusaurus
.serverless/

